mixin present(title,text)
    .main-present__item
        p.main-present__item-title.text-upper= title
        p.main-present__item-text= text

mixin present-mobile(title)
    .main-present__item-mobile
        p.text-upper= title
