mixin socals-links(classname)
    .socials(class=`${classname}`)
        a.socials__link(href="" aria-label="telegram")
            img.socials__icon(src="./images/telegram.svg" alt="telegram")
        a.socials__link(href="" aria-label="viber")
            img.socials__icon(src="./images/viber.svg" alt="viber")
        a.socials__link(href="" aria-label="whatsapp")
            img.socials__icon(src="./images/whatsapp.svg" alt="whatsapp")
